<!--<!DOCTYPE HTML>-->
<!--<html>-->
<!--<head>-->
<!--    <title>스프링 부트 웹서비스</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--    <h1>스프링 부트로 시작하는 웹 서비스</h1>-->
<!--&lt;!&ndash;간단하게 h1 크기로 "스프링부트로 시작하는 웹 서비스"를 출력하는 페이지&ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!--기존의 코드를 변경함. 이유 : 라이브러리를 비롯한 기타 HTML 태그들이 모두 레이아웃에 추가되기 때문에 index.mustache에는 필요한 코드만 남김-->

{{>layout/header}}
<!--위의 중괄호2개 사이의 '>'의 의미는 현재 머스테치 파일을 기준으로 다른 파일을 가져온다는 의미-->
<!--여기서는 index.mustache파일에서 layout/header와 layout/footer 파일을 가져온다는 뜻-->

<h1>스프링 부트로 시작하는 웹 서비스</h1>

{{>layout/footer}}

{{>layout/header}}

    <h1>스프링 부트로 시작하는 웹 서비스 Ver .2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
<!--                <a>태그를 이용해 글 등록 페이지로 이동하는 글 등록 버튼 생성, 이동한 페이지의 주소는 href인 '/posts/save'임-->
            </div>
        </div>
    </div>

{{>layout/footer}}